In [26]:
import pandas as pd
import numpy as np

In [27]:
patienthreartrate = pd.read_csv(r'patient_heart_rate.csv')
patienthreartrate

       1    Mickéy Mousé    56       70kgs   72   69   71    -  -.1  -.2
0    2.0     Donald Duck  34.0   154.89lbs    -    -    -   85   84   76
1    3.0      Mini Mouse  16.0         NaN    -    -    -   65   69   72
2    4.0  Scrooge McDuck   NaN       78kgs   78   79   72    -    -    -
3    5.0    Pink Panther  54.0  198.658lbs    -    -    -   69  NaN   75
4    6.0     Huey McDuck  52.0      189lbs    -    -    -   68   75   72
5    7.0    Dewey McDuck  19.0       56kgs    -    -    -   71   78   75
6    8.0      Scööpy Doo  32.0       78kgs   78   76   75    -    -    -
7    NaN             NaN   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
8    NaN             NaN   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
9    NaN             NaN   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
10   9.0     Huey McDuck  52.0      189lbs    -    -    -   68   75   72
11  10.0    Louie McDuck  12.0       45kgs    -    -    -   92   95   87
12  11.0       Henry Nam   NaN       60kgs   78   75   72    -    -    -
13  12.0     Michel Long  34.0         NaN   65   67   55    -    -    -
14  13.0      Tana Ricky   NaN         NaN    -    -    -   68   72   70
15  14.0        UniLever   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
16  15.0             NaN  52.0      180lbs    -    -    -   68   75   72

In [28]:
column_names = ["Id", "Name", "Age", "Weight", 'm0006', 'm0612', 'm1218', 'f0006', 'f0612', 'f1218']
df = pd.read_csv("patient_heart_rate.csv", names = column_names)
print(df.head())

    Id            Name   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218
0  1.0    Mickéy Mousé  56.0       70kgs    72    69    71     -     -     -
1  2.0     Donald Duck  34.0   154.89lbs     -     -     -    85    84    76
2  3.0      Mini Mouse  16.0         NaN     -     -     -    65    69    72
3  4.0  Scrooge McDuck   NaN       78kgs    78    79    72     -     -     -
4  5.0    Pink Panther  54.0  198.658lbs     -     -     -    69   NaN    75

In [29]:
#Problem 2
df[['Firstname','Lastname']] = df['Name'].str.split(expand=True)
df = df.drop('Name', axis=1)
print (df)

      Id   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0    1.0  56.0       70kgs    72    69    71     -     -     -    Mickéy
1    2.0  34.0   154.89lbs     -     -     -    85    84    76    Donald
2    3.0  16.0         NaN     -     -     -    65    69    72      Mini
3    4.0   NaN       78kgs    78    79    72     -     -     -   Scrooge
4    5.0  54.0  198.658lbs     -     -     -    69   NaN    75      Pink
5    6.0  52.0      189lbs     -     -     -    68    75    72      Huey
6    7.0  19.0       56kgs     -     -     -    71    78    75     Dewey
7    8.0  32.0       78kgs    78    76    75     -     -     -    Scööpy
8    NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
9    NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
10   NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
11   9.0  52.0      189lbs     -     -     -    68    75    72      Huey
12  10.0  12.0       45kgs     -     -     -    92    95    87     Louie
13  11.0   NaN       60kgs    78    75    72     -     -     -     Henry
14  12.0  34.0         NaN    65    67    55     -     -     -    Michel
15  13.0   NaN         NaN     -     -     -    68    72    70      Tana
16  14.0   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN  UniLever
17  15.0  52.0      180lbs     -     -     -    68    75    72       NaN

   Lastname
0     Mousé
1      Duck
2     Mouse
3    McDuck
4   Panther
5    McDuck
6    McDuck
7       Doo
8       NaN
9       NaN
10      NaN
11   McDuck
12   McDuck
13      Nam
14     Long
15    Ricky
16     None
17      NaN

In [30]:
#Problem 3
weight = df['Weight']

for i in range (0, len(weight)):
    x = str(weight[i])

    if "lbs" in x[-3:]:

        x = x[:-3:]

        float_x = float(x)
        
        y = int(float_x/2.2)

        y = str(y)+"kgs"
        weight[i] = y
print(df)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
8    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN      NaN
9    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN      NaN
10   NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN      NaN
11   9.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
12  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
13  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
14  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
15  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
16  14.0   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN  UniLever     None
17  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

C:\Users\Anh Thu\AppData\Local\Temp\ipykernel_4152\3258909846.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y

In [31]:
#Problem 4
df.dropna(how="all", inplace=True)
print(df)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
11   9.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
12  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
13  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
14  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
15  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
16  14.0   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN  UniLever     None
17  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

In [32]:
#Problem 5
df = df.drop_duplicates(subset=['Firstname','Lastname', 'Age', 'Weight'])
print(df)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
12  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
13  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
14  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
15  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
16  14.0   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN  UniLever     None
17  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

In [33]:
#Problem 6
df.Firstname.replace({r'[^\x00-\x7F]+':''}, regex = True, inplace =True)
df.Lastname.replace({r'[^\x00-\x7F]+':''}, regex = True, inplace =True)
print(df)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -     Micky     Mous
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -      Scpy      Doo
12  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
13  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
14  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
15  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
16  14.0   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN  UniLever     None
17  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

In [34]:
#Problem 7
df.columns = ["Id", "Age", "Weight", 'm0006', 'm0612', 'm1218', 'f0006', 'f0612', 'f1218','Firstname', 'Lastname']

# Extract relevant columns
data_relevant = df[['Age', 'Weight']]

# Convert 'Weight' to numeric, handling different units and formats
data_relevant.loc[:, 'Weight'] = pd.to_numeric(data_relevant['Weight'].str.replace('[^\d.]', '', regex=False), errors='coerce')

# Convert to numpy array
data_array = data_relevant.to_numpy()

# Identify rows where both Age and Weight are missing
rows_to_keep = ~np.isnan(data_array).all(axis=1)

# Filter out rows where both Age and Weight are missing
data_array = data_array[rows_to_keep]

# Calculate mean of Age ignoring NaNs
mean_age = np.nanmean(data_array[:, 0])

# Replace NaN values in Age with the mean
data_array[np.isnan(data_array[:, 0]), 0] = mean_age

# Convert back to DataFrame
data_cleaned_np = pd.DataFrame(data_array, columns=['Age', 'Weight'])
print(df)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -     Micky     Mous
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -      Scpy      Doo
12  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
13  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
14  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
15  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
16  14.0   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN  UniLever     None
17  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

C:\Users\Anh Thu\AppData\Local\Temp\ipykernel_4152\2689209453.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_relevant.loc[:, 'Weight'] = pd.to_numeric(data_relevant['Weight'].str.replace('[^\d.]', '', regex=False), errors='coerce')

In [35]:
# Problem 8
df = pd.melt(df, id_vars=['Id', 'Age', 'Weight', 'Firstname', 'Lastname'], value_name="PulseRate", var_name="sex_and_time").sort_values(['Id', 'Age', 'Weight', 'Firstname', 'Lastname'])

# Extract and split values from "sex_and_time" column
tmp_df = df["sex_and_time"].str.extract(r"([mf])(\d{4})-(\d{4})", expand=True)

# Name columns
tmp_df.columns = ["Sex", "Time_lower", "Time_upper"]

# Convert "m" and "f" to "male" and "female"
tmp_df["Sex"] = tmp_df["Sex"].map({"m": "male", "f": "female"})

# Merge with original DataFrame
df = pd.concat([df, tmp_df], axis=1)

# Drop unnecessary columns
df = df.drop(['sex_and_time', 'Time_lower', 'Time_upper'], axis=1)

# Print and save to CSV
print(df.head())  # Print to verify
df.to_csv('outputcleanup.csv', index=False)

     Id   Age Weight Firstname Lastname PulseRate  Sex
0   1.0  56.0  70kgs     Micky     Mous        72  NaN
14  1.0  56.0  70kgs     Micky     Mous        69  NaN
28  1.0  56.0  70kgs     Micky     Mous        71  NaN
42  1.0  56.0  70kgs     Micky     Mous         -  NaN
56  1.0  56.0  70kgs     Micky     Mous         -  NaN

In [36]:
#Problem 9
# Function to handle missing blood pressure data
def fill_missing_bp(data):
    for i in range(len(data)):
        if pd.isna(data.at[i, 'PulseRate']):
            if i > 0 and not pd.isna(data.at[i-1, 'PulseRate']):
                data.at[i, 'PulseRate'] = data.at[i-1, 'PulseRate']
            elif i < len(data)-1 and not pd.isna(data.at[i+1, 'PulseRate']):
                data.at[i, 'PulseRate'] = data.at[i+1, 'PulseRate']
            elif i > 1 and not pd.isna(data.at[i-2, 'PulseRate']):
                data.at[i, 'PulseRate'] = data.at[i-2, 'PulseRate']
            elif i < len(data)-2 and not pd.isna(data.at[i+2, 'PulseRate']):
                data.at[i, 'PulseRate'] = data.at[i+2, 'PulseRate']
            elif data['PulseRate'].notna().any():
                data.at[i, 'PulseRate'] = data['PulseRate'].mean()
            else:
                data.at[i, 'PulseRate'] = 120  # Example stable medical value
    return data

# Fill missing BloodPressure values
df = fill_missing_bp(df)
print(df)

      Id   Age Weight Firstname Lastname PulseRate  Sex
0    1.0  56.0  70kgs     Micky     Mous        72  NaN
14   1.0  56.0  70kgs     Micky     Mous        69  NaN
28   1.0  56.0  70kgs     Micky     Mous        71  NaN
42   1.0  56.0  70kgs     Micky     Mous         -  NaN
56   1.0  56.0  70kgs     Micky     Mous         -  NaN
..   ...   ...    ...       ...      ...       ...  ...
27  15.0  52.0  81kgs       NaN      NaN         -  NaN
41  15.0  52.0  81kgs       NaN      NaN         -  NaN
55  15.0  52.0  81kgs       NaN      NaN        68  NaN
69  15.0  52.0  81kgs       NaN      NaN        75  NaN
83  15.0  52.0  81kgs       NaN      NaN        72  NaN

[84 rows x 7 columns]

In [37]:
#Problem 10
# Select relevant columns
df = df[['Id', 'Age', 'Weight', 'Firstname', 'PulseRate']]  # Adjust based on actual columns

# Drop rows with any remaining missing values
df = df.dropna()

# Reindex the DataFrame
df.reset_index(drop=True, inplace=True)

# Save the cleaned data
cleaned_file_path = 'patient_heart_rate_clean.csv'
df.to_csv(cleaned_file_path, index=False)

cleaned_file_path

'patient_heart_rate_clean.csv'